.all{
    background-color: #363636;
}
.header{
    width: 100%;
    height: 80px;
    background: #ecddd0 ;
    top: 0;
    margin: 0;
    display: flex;
    text-align: center;
}
.header h1{
    color: black;
    text-align: center;
}
.container{
    background: #E4E9BE ;
    height: 100vh
}
.input{
    margin-top: 0%;
    background: #E4E9BE;
}
.input form{
    margin-left: 40%;
}
.input h1{
    color: black;
    text-align: center;
}
.output form{
    margin-left: 40%;
}
.output h1{
    color: black;
    text-align: center;  
}
.output{
    background: #E4E9BE;
}