*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fffef6;
}
@media (max-device-width: 600px) {
    body{
        text-align: center;
    }
}
.fullC{
    height: 500vh;
}
.firstC{
    /* border: 1px solid black; */
    height: 100vh;
}
.first-container-top{
    margin-top: 151px;
    /* border: 1px solid black; */
}
.first-container-top h1{
    display: flex;
    justify-content: center;
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
    text-shadow: 1vh; 
}
.first-container-mid{
    margin-top: 111px;
}
.first-container-mid h1{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
    font-size: 75px;
}
.first-container-bot{
    margin-top: 111px;
}
.first-container-bot h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
}
.secondC{
    height: 100vh;
    /* border: 1px solid black; */
    display: grid;
}
.second-container-header{
    display: table-header-group;
    /* border: 1px solid black; */
    height: 100px;
}
.second-container-header h1{
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
}
.second-container-main{
    display: flex;
}
.second-container-mid{
    /* border: 1px solid black; */
    margin: 50px;
}
.second-container-mid h1{
    line-height: 1.5;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
    text-align: justify;
}
.second-container-left-img{
    margin: 50px;
    /* width: 100px; */
    height: 550px;
    /* border: 1px solid black; */
}
.second-container-right-img{
    margin: 50px;
    /* width: 100px; */
    height: 550px;
    /* border: 1px solid black; */
}
.thirdC{
    height: 100vh;
    /* border: 1px solid black; */
    background-image: url("/img/img-5.png");
    display: flex;
}
.thirdC img{
    width: 80%;
    height: 80&;
}
.third-container-left{
    width: 125vh;
    /* border: 1px solid black; */
}
.third-container-right{
    /* border: 1px solid black; */
    width: 75vh;
}.third-container-right-head{
    margin: 100px;
    margin-top: 150px;
    /* border: 1px solid black; */
}
.third-container-right-head h1{
    text-shadow: 2px 1.5px #000;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffef6;
    font-family: 'Philosopher', sans-serif;
    /* font-weight: lighter; */
}
.third-container-right-main{
    margin: 100px;
    /* border: 1px solid black; */
}
.third-container-right-main h2{
    text-shadow: 2px 1px #000;
    line-height: 1.8;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffef6;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
}
.third-container-right-rsvp{
    text-decoration: none;
    margin: 100px;
    /* border: 1px solid black; */
}
.third-container-right-rsvp p{
    text-shadow: 2px 1px #000;
    font-size: 20px;
    margin: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffef6;
    font-family: 'Philosopher', sans-serif;
    font-weight: bolder;
}
.fourthC{
    background-color: #fffef6;
    display: flex;
    height: 100vh;
    /* border: 1px solid black; */
}
.fourth-container-left{
    /* border: 1px solid black; */
    width: 50%;
}
.fourth-container-left-top
{   
    margin-top: 50px;
    height: 50%;
    /* border: 1px solid black; */
}
.fourth-container-left-top h1{
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
    text-align: center;
    /* border: 1px solid black; */
}
.fourth-container-left-top p{
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
    margin-top: 5%;
    text-align: center;
}
.fourth-container-left-bottom{
    height: 50%;
    /* border: 1px solid black; */
}
.fourth-container-left-bottom h1{
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
    text-align: center;
    /* border: 1px solid black; */
}
.fourth-container-left-bottom p{
    color: #fe502d;
    font-family: 'Philosopher', sans-serif;
    font-weight: lighter;
    margin-top: 5%;
    text-align: center;
}
.fourth-container-right{
    width: 50%;
    /* border: 1px solid black; */
    align-items: center;
}
.fourth-container-right img{
    width: 400px;
    margin: 100px;
    margin-left: 180px;
}
.fifthC{
    background: url(/img/img-4.png);
    height: 100vh;
    /* border: 1px solid black; */
}
.fifth-container-mid{
    margin-top: 22%;
}
.fifth-container-mid h1{
    color: #fffef6;
    font-weight: lighter;
    font-family: 'Philosopher', sans-serif;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}