body{
    margin: 0%;
}
li{
    font-size: 20px;
    font-family: sans-serif;
    list-style-type: none;
    float: left;
    padding: 10px;
    text-align: center;
    
}
.header{
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin: 0%;
    height: 10%;
    display: flex;
}
.menu{
    margin-left: 40.7%;
}
.content{
    /* border: 1px solid black; */
    flex-flow: row wrap;
    height: 78.5%;
    
}
.gambar{
    /* float: left; */
    /* border: 1px solid black; */
    margin-left: 10%;
    margin-top: 150px;
    width: 300px;
    flex-flow: row wrap;
    /* margin: 0%; */
    float: left;
}
.hi{
    font-size: 20px;
    font-family: sans-serif;
    /* border: 1px solid black; */
    display: flex;
	flex-flow: row wrap;
    float: right;
    /* height: 50%; */
    width: 68%;
    /* text-align: center; */
    margin-top: 9%;
}
.isi-article{
    /* border: 1px solid black; */
    height: 50%;
    width: 68%;
    float: right;

}
.footer{
    /* border: 1px solid black; */
    /* float: bottom; */
    display: flex;
	flex-flow: row wrap; 
    background-color: black;
    color: white;
    height: 85px;
}
.social-media{
    padding: 5px;
    margin-left: 50%;
    margin-top: 15px;
}
h1{
    font-size: 35px;
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}