body{
    margin: 0%;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: #e8d1b1;
    position: sticky;
}
.logo h1{
    color: brown;
    font-family: sans-serif;
    font-size: 25px;
}
.logo{
    margin-left: 44px;
    margin-top: 4px;
    position: absolute;
    float: left;
}
.navbar{
    font-family: sans-serif;
    font-size: 15px;
    color: brown;
    float: right;
    display: flex;
    margin-top: 4px;
    margin-right: 80px;
}
.navbar li{
    list-style-type: none;
    float: left;
    display: flex;
    padding: 10px;
}
.navbar a{
    text-decoration: none;
}
.home{
    border: 1px solid red;
    width: 100%;
    height: 90%;
    margin: 0;
    background-color: #eddcd2;
    position: sticky;
}
.home-head{
    /* border: 1px solid red; */
    margin-top: 225px;
    margin-left: 400px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100vh;
    position: sticky;
}
.home-head h1{
    font-size: 30px;
    color: brown;
    font-family: sans-serif;
}
.home-paragraph{
    position: sticky;
    margin-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    position: static;
    text-align: center;
    font-family: arial;
}
.home-paragraph p{
    font-size: 20px;
}
.about{
    /* border: 1px solid red; */
    width: 100%;
    height: 98vh;
    background-color: #fff1e6;
}
.about-head h1{
    font-family: sans-serif;
    font-size: 35px;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 50px;
}
.about-img{
    /* border: 1px solid red; */
    /* margin-left: 270px; */
    width: 100%;
}
.about-img img{
    padding: 10vh;
    margin-left: 125px;
}
.about-paragraph{
    /* border: 1px solid red; */
    height: 260px;
    display: flex;
    flex-flow: row wrap;
}
.about-paragraph-1{
    width: 500px;
    /* border: 1px solid red; */
    height: 220px;
}
.about-paragraph-2{
    width: 500px;
    /* border: 1px solid red; */
    height: 220px;
    position: relative;
}
.about-paragraph-3{
    width: 500px;
    /* border: 1px solid red; */
    height: 220px;
    position: relative;
}
.about-paragraph p{
    text-align: center;
}
.product{
    /* border: 1px solid red; */
    width: 100%;
    height: 98vh;
    background-color: #eddcd2;
    position: sticky;
    margin: 0;
}
.product-head h1{
    font-family: sans-serif;
    font-size: 35px;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 50px;
}
.product-img{
    /* border: 1px solid red; */
    /* margin-left: 270px; */
    width: 100%;
}
.product-img img{
    padding: 10vh;
    margin-left: 125px;
}
.product-paragraph{
    /* border: 1px solid red; */
    height: 260px;
    display: flex;
    flex-flow: row wrap;
}
.product-paragraph-1{
    width: 500px;
    /* border: 1px solid red; */
    height: 220px;
}
.product-paragraph-2{
    width: 500px;
    /* border: 1px solid red; */
    height: 220px;
    position: relative;
}
.product-paragraph-3{
    width: 500px;
    /* border: 1px solid red; */
    height: 220px;
    position: relative;
}
.product-paragraph p{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: blanchedalmond;
    color: gray;
    font-family: arial;
    font-size: 15px;
    margin: 0;
}